body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(17, 72, 250);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#tabuada{
    background-color: rgb(72, 255, 26);
    width: fit-content;
    height: fit-content;
    text-align: center;
    border-collapse: collapse;
    border: 3px solid black;
    display: flex;
    flex-direction:column;
}

th{
    text-align: center;
    height: 30px;
    width: 30px;
    border: 3px solid black;
}

tr{
    padding: 1px;
    border: 3px solid black;
    text-align: center;
}

#num {
    height: 10;
    width: 125px;
    padding: 3px;
}

#go{
    padding: 3px;
    background-color: rgb(72, 255, 26);
    border-radius: 10px;
}